<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Add Recipe</title>
</head>
<body>
<form th:action="@{/recipes}" th:object="${recipeForm}" th:method="post">
    <table>
        <tr>
            <td>Recipe Name:</td>
            <td><input type="text" th:field="*{recipeName}" /></td>
            <td th:if="${#fields.hasErrors('recipeName')}" th:errors="*{recipeName}">Item Type Error will appear here</td>
        </tr>
        <tr>
            <td>Recipe Description:</td>
            <td><input type="text" th:field="*{recipeDesc}" /></td>
            <td th:if="${#fields.hasErrors('recipeDesc')}" th:errors="*{recipeDesc}">Item Type Error will appear here</td>
        </tr>
        <tr>
            <td>Recipe Tag:</td>
            <td><input type="text" th:field="*{recipeTag}" /></td>
            <td th:if="${#fields.hasErrors('recipeTag')}" th:errors="*{recipeTag}">Item Type Error will appear here</td>
        </tr>
        <tr>
            <td>Recipe Image:</td>
            <td><input type="text" th:field="*{recipeImage}" /></td>
            <td th:if="${#fields.hasErrors('recipeImage')}" th:errors="*{recipeImage}">Item Type Error will appear here</td>
        </tr>
        <tr>
            <td><button type="submit">Add</button></td>
        </tr>
    </table>
</form>
</body>
</html>